<!-- Wrapper -->
<div id="wrapper">

  <!-- Header Container -->
  <header id="header-container">
    <div id="header">
      <div class="container">
        <%= render 'shared/header' %>
      <div>
    <div>
  </header>
  <div class="clearfix"></div>
  <!-- Header Container / End -->

  <!-- Titlebar -->
  <div id="titlebar" class="gradient">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2><i class="sl sl-icon-login"></i> <%= page_name %></h2>
        </div>
      </div>
    </div>
  </div>

  <!-- Container -->
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div id="add-listing" class="separated-form">

          <%= form_with url: send(path) do |f| %>
            <%= render 'shared/flash_messages' %>

            <!-- Section -->
            <div class="add-listing-section">

              <!-- Headline -->
              <div class="add-listing-headline"></div>

              <!-- Row -->
              <div class="row with-forms margin-bottom-20">
                <!-- Email -->
                <div class="col-md-12">
                  <h5><%= f.label :email, "メールアドレス" %></h5>
                  <%= f.email_field :email %>
                </div>
              </div>
              <!-- Row / End -->

              <!-- Row -->
              <div class="row with-forms margin-bottom-20">
                <!-- Password -->
                <div class="col-md-12">
                  <h5><%= f.label :password, "パスワード" %></h5>
                  <%= f.password_field :password %>
                </div>
              </div>
              <!-- Row / End -->
            </div>
            <!-- Section / End -->

            <div class="margin-top-40">
              <%= f.submit "ログイン", class: "button" %>
              <%= link_to "パスワードを忘れた", new_password_reset_path, class: "button border right-side width-auto" %>
            </div>
          <% end %>
        </div>

        <% if current_page?(login_path) %>
          <div class="margin-top-50">
            ビジネスユーザー用ログインは<%= link_to "こちら", business_login_path, class: "underline" %>
          </div>
        <% elsif current_page?(business_login_path) %>
          <div class="margin-top-50">
            一般ユーザー用ログインは<%= link_to "こちら", login_path, class: "underline" %>
          </div>
        <% end %>

      </div>
    </div>
  </div>
  <!-- Container / End -->

  <!-- Footer -->
  <div id="footer" class="margin-top-60">
    <!-- Main -->
    <%= render 'shared/footer' %>

  </div>
  <!-- Footer / End -->

  <!-- Back To Top Button -->
  <div id="backtotop"><a href="#"></a></div>

</div>
<!-- Wrapper / End -->
