<div id="wrapper">

  <!-- Header Container -->
  <header id="header-container">
    <!-- Header -->
    <div id="header">
      <div class="container">
        <%= render "shared/header" %>
      </div>
    </div>
    <!-- Header / End -->
  </header>
  <div class="clearfix"></div>
  <!-- Header Container / End -->

  <!-- Titlebar -->
  <div id="titlebar" class="gradient">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2><i class="sl sl-icon-docs"></i> お知らせ一覧</h2>
        </div>
      </div>
    </div>
  </div>

  <% if @announcements.exists? %>
    <!-- Content -->
    <div class="container">
      <div class="blog-page">
        <div class="row">
          <div class="col-lg-9 col-md-8 padding-right-30">

            <%= render @announcements %>

            <!-- Pagination -->
            <div class="clearfix"></div>
            <div class="row">
              <div class="col-md-12">
                <!-- Pagination -->
                <div class="pagination-container margin-bottom-40">
                  <%= paginate @announcements %>
                </div>
              </div>
            </div>
            <!-- Pagination / End -->

          </div>
          <!-- Blog Posts / End -->


          <!-- Widgets -->
          <div class="col-lg-3 col-md-4">
            <div class="sidebar right">

              <!-- Widget -->
              <div class="widget margin-top-40">
                <h3>最近の投稿</h3>
                <ul class="widget-tabs">
                  <%= render partial: "widget_announcement", collection: @announcements.limit(3), as: "announcement" %>
                </ul>
              </div>
              <!-- Widget / End-->

              <div class="clearfix"></div>
              <div class="margin-bottom-40"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% else %>
    <p class="centered-content margin-bottom-70">お知らせがありません</p>
  <% end %>

  <!-- Footer -->
  <div id="footer" class="margin-top-15">
    <%= render "shared/footer" %>
  </div>
  <!-- Footer / End -->

  <!-- Back To Top Button -->
  <div id="backtotop"><a href="#"></a></div>

</div>
