<div id="titlebar">
  <div class="row">
    <div class="col-md-12">
      <%= render 'shared/breadcrumbs_mypage', { icon_name: "doc", page_name: "組織詳細" } %>
    </div>
  </div>
</div>

<div class="row">

  <!-- Profile -->
  <div class="col-md-12">
    <div class="dashboard-list-box margin-top-0">
      <div class="dashboard-list-box-static">
        <!-- table -->
        <table class="basic-table">
          <tbody>

            <tr>
              <td data-label="項目"><%= Organization.human_attribute_name("name") %></td>
              <td data-label="内容"><%= organization.name %></td>
            </tr>
            <tr>
              <td data-label="項目"><%= Organization.human_attribute_name("address") %></td>
              <td data-label="内容"><%= organization.address %></td>
            </tr>
            <tr>
              <td data-label="項目"><%= Organization.human_attribute_name("phone") %></td>
              <td data-label="内容"><%= organization.phone %></td>
            </tr>
            <tr>
              <td data-label="項目"><%= Organization.human_attribute_name("slug") %></td>
              <td data-label="内容"><%= organization.slug %></td>
            </tr>
            <tr>
              <td data-label="項目">メンバー</td>
              <td data-label="内容"><%= organization.users.exists? ? organization.decorate.arranged_users : "メンバーはいません" %></td>
            </tr>
          </tbody>
        </table>

      </div>
    </div>
    <%= link_to send(edit_path), class: "button margin-top-20" do %>
      <i class="sl sl-icon-pencil"></i> 編集
    <% end %>
    <%= link_to send(destroy_path), method: :delete, data: { confirm: "組織を削除すると復旧はできません。よろしいですか？" }, class: "border button" do %>
      <i class="sl sl-icon-trash"></i> 削除
    <% end %>
  </div>