<div id="titlebar">
  <div class="row">
    <div class="col-md-12">
      <%= render 'shared/breadcrumbs', { icon_name: "doc", page_name: "組織詳細" } %>
    </div>
  </div>
</div>

<div class="row">

  <!-- Profile -->
  <div class="col-md-12">
    <div class="dashboard-list-box margin-top-0">
      <div class="dashboard-list-box-static">
        <!-- table -->
        <table class="basic-table">
          <tbody>

            <tr>
              <td data-label="項目"><%= Organization.human_attribute_name("name") %></td>
              <td data-label="内容"><%= organization.name %></td>
            </tr>
            <tr>
              <td data-label="項目"><%= Organization.human_attribute_name("address") %></td>
              <td data-label="内容"><%= organization.address %></td>
            </tr>
            <tr>
              <td data-label="項目"><%= Organization.human_attribute_name("phone") %></td>
              <td data-label="内容"><%= organization.phone %></td>
            </tr>
            <tr>
              <td data-label="項目"><%= Organization.human_attribute_name("slug") %></td>
              <td data-label="内容"><%= organization.slug %></td>
            </tr>
            <tr>
              <td data-label="項目">メンバー</td>
              <td data-label="内容"><%= organization.users.exists? ? organization.decorate.arranged_users : "メンバーはいません" %></td>
            </tr>
            <tr>
              <td data-label="項目">飲食店 （<%= link_to " 一覧 ", send(restaurant_index_path, organization), class: "underline" %>）</td>
              <td data-label="内容"><%= organization.restaurants.exists? ? organization.decorate.arranged_restaurants : " - " %> </td>
            </tr>
            <tr>
              <td data-label="項目">宿泊施設 （<%= link_to " 一覧 ", send(hotel_index_path, organization), class: "underline" %>）</td>
              <td data-label="内容"><%= organization.hotels.exists? ? organization.decorate.arranged_hotels : " - " %></td>
            </tr>
            <tr>
              <td data-label="項目">アクティビティ （<%= link_to " 一覧 ", send(activity_index_path, organization), class: "underline" %>）</td>
              <td data-label="内容"><%= organization.activities.exists? ? organization.decorate.arranged_activities : " - " %></td>
            </tr>
            <tr>
              <td data-label="項目">温泉 （<%= link_to " 一覧 ", send(hot_spring_index_path, organization), class: "underline" %>）</td>
              <td data-label="内容"><%= organization.hot_springs.exists? ? organization.decorate.arranged_hot_springs : " - " %></td>
            </tr>
            <tr>
              <td data-label="項目">スキー場 （<%= link_to " 一覧 ", send(ski_area_index_path, organization), class: "underline" %>）</td>
              <td data-label="内容"><%= organization.ski_areas.exists? ? organization.decorate.arranged_ski_areas : " - " %></td>
            </tr>
            <tr>
              <td data-label="項目">フォトスポット （<%= link_to " 一覧 ", send(photo_spot_index_path, organization), class: "underline" %>）</td>
              <td data-label="内容"><%= organization.photo_spots.exists? ? organization.decorate.arranged_photo_spots : " - " %></td>
            </tr>
            <tr>
              <td data-label="項目">ショップ （<%= link_to " 一覧 ", send(shop_index_path, organization), class: "underline" %>）</td>
              <td data-label="内容"><%= organization.shops.exists? ? organization.decorate.arranged_shops : " - " %></td>
            </tr>
          </tbody>
        </table>

      </div>
    </div>

    <div class="margin-top-40">
      <%= link_to send(index_path), class: "button border margin-bottom-20 overflow-visible" do %>
        <i class="sl sl-icon-arrow-left-circle"></i> 戻る
      <% end %>
      <%= link_to send(edit_path), class: "button overflow-visible" do %>
        <i class="sl sl-icon-pencil"></i> 編集
      <% end %>
      <%= link_to send(destroy_path), method: :delete, data: { confirm: "削除すると復旧はできません。よろしいですか？" }, class: "border button right-side width-auto overflow-visible" do %>
        <i class="sl sl-icon-trash"></i> 削除
      <% end %>
    </div>

  </div>