<li>
  <div class="list-box-listing">
    <% if listing.images.attached? %>
      <div class="list-box-listing-img">
        <%= link_to image_tag(listing.images.first), send(show_path, listing.organization, listing) %>
      </div>
    <% end %>
    <div class="list-box-listing-content">
      <div class="inner">
        <h3><%= link_to listing.name, send(show_path, listing.organization, listing) %></h3>
        <span><%= listing.address %></span>
        <div class="margin-top-5">
          <%= link_to send(show_path, listing.organization, listing), class: "button" do %>
            <i class="sl sl-icon-doc"></i> 詳細
          <% end %>
          <%= link_to send(edit_path, listing.organization, listing), class: "button" do %>
            <i class="sl sl-icon-pencil"></i> 編集
          <% end %>
        </div>
      </div>
    </div>
  </div>
</li>
