<li>
  <div class="list-box-listing">
    <div class="list-box-listing-img">
      <%= link_to image_tag(listing.main_image), send(show_path, listing.organization, listing) %>
    </div>
    <div class="list-box-listing-content">
      <div class="inner">
        <h3><%= link_to listing.name, send(show_path, listing.organization, listing) %></h3>
        <span><%= listing.address %></span>
        <div class="margin-top-5">
          <%= link_to send(show_path, listing.organization, listing), class: "button" do %>
            <i class="sl sl-icon-doc"></i> 詳細
          <% end %>
          <%= link_to send(post_index_path, listing.organization, listing), class: "button" do %>
            <i class="sl sl-icon-list"></i> 投稿一覧
          <% end %>
        </div>
      </div>
    </div>
  </div>
</li>
