<div id="titlebar" class="margin-bottom-20">
  <div class="row">
    <div class="col-md-12">
      <h2><i class="sl sl-icon-doc"></i> アクティビティ詳細</h2>
    </div>
  </div>
</div>

<div class="margin-bottom-20 display-flex-end">
  <%= link_to send(post_index_path, activity.organization, activity), class: "button border" do %>
    <i class="sl sl-icon-list"></i> 投稿一覧
  <% end %>
</div>

<div class="row">
  <!-- Profile -->
  <div class="col-md-12">
    <div class="dashboard-list-box margin-top-0">
      <div class="dashboard-list-box-static">
        <!-- table -->
        <table class="basic-table">
          <tbody>
            <tr>
              <td data-label="項目"><%= Activity.human_attribute_name("name") %></td>
              <td data-label="内容"><%= activity.name %></td>
            </tr>
            <tr>
              <td data-label="項目"><%= Activity.human_attribute_name("address") %></td>
              <td data-label="内容"><%= activity.address %></td>
            </tr>
            <tr>
              <td data-label="項目"><%= District.model_name.human %></td>
              <td data-label="内容"><%= activity.districts.first.name %></td>
            </tr>
            <tr>
              <td data-label="項目"><%= Activity.human_attribute_name("description") %></td>
              <td data-label="内容"><%= activity.decorate.format_description %></td>
            </tr>
            <% if activity.reservation_link.present? %>
              <tr>
                <td data-label="項目"><%= ReservationLink.human_attribute_name("link") %></td>
                <td data-label="内容"><%= link_to nil, activity.reservation_link.link %></td>
              </tr>
            <% end %>
            <% if activity.opening_hours.exists? %>
              <tr>
                <td data-label="項目"><%= OpeningHour.model_name.human %></td>
                <td data-label="内容">
                  <ul class="bg-transparent">
                    <%= render partial: "shared/organizations/listings/opening_hour", collection: activity.opening_hours.early %>
                  </ul>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <!-- table end -->

        <!-- Row -->
        <div class="row with-forms margin-bottom-20">
          <!-- Map -->
          <div class="col-md-12">
            <div id="map-location-display" class="margin-top-25 margin-bottom-25" data-lat="<%= activity.lat %>" data-lng="<%= activity.lng %>"></div>
          </div>
        </div>
        <!-- Row / End -->

        <!-- Row -->
        <% if activity.images.attached? %>
          <div class="row with-forms margin-bottom-20">
            <!-- Images preview -->
            <div class="col-md-12">
              <div id="preview">
                <% activity.images.each do |image| %>
                  <%= image_tag image.variant(resize: '300x200').processed %>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
        <!-- Row / End -->
      </div>
    </div>
 
    <div class="margin-top-40">
      <%= link_to send(index_path), class: "button border margin-bottom-20 overflow-visible" do %>
        <i class="sl sl-icon-arrow-left-circle"></i> 戻る
      <% end %>

      <%= link_to send(edit_path), class: "button overflow-visible" do %>
        <i class="sl sl-icon-pencil"></i> 編集
      <% end %>
      
      <%= link_to send(destroy_path), method: :delete, data: { confirm: "削除すると復旧はできません。よろしいですか？" }, class: "border button right-side width-auto overflow-visible" do %>
        <i class="sl sl-icon-trash"></i> 削除
      <% end %>
    </div>
  </div>
