<div class="fs-container">
  <div class="fs-inner-container content">
    <div class="fs-content">

      <!-- Search -->
      <section class="search">

        <div class="row">
          <div class="col-md-12">

            <!-- Row With Forms -->
            <div class="row with-forms">
              <%= form_with model: @restaurants, url: search_restaurants_path, scope: :q, method: :get, local: true do |f| %>

                <!-- Main Search Input -->
                <div class="col-fs-12">
                  <div class="input-with-icon">
                    <i class="sl sl-icon-magnifier"></i>
                    <%= f.search_field :keyword %>
                  </div>
                </div>

                <!-- Filters -->
                <div class="col-fs-12">

                  <!-- Panel Dropdown / End -->
                  <div class="panel-dropdown">
                    <a href="#">カテゴリー</a>
                    <div class="panel-dropdown-content checkboxes categories">

                      <!-- Checkboxes -->
                      <div class="row">
                        <div class="col-md-6">
                          <%= f.check_box :category_ids, {id: "check-restaurant-category-1", class: "all", multiple: true, include_hidden: false, checked: true }, "all" %>
                          <%= f.label :category_ids, "全て", for: "check-restaurant-category-1" %>

                          <%= render partial: 'listings/restaurant_category', collection: @restaurant_categories, locals: { f: f } %>
                        </div>
                      </div>

                      <!-- Buttons -->
                      <div class="panel-buttons">
                        <button class="panel-apply" type="button">決定</button>
                      </div>

                    </div>
                  </div>
                  <!-- Panel Dropdown / End -->

                  <!-- Panel Dropdown -->
                  <div class="panel-dropdown wide">
                    <a href="#">More Filters</a>
                    <div class="panel-dropdown-content checkboxes">

                      <!-- Checkboxes -->
                      <div class="row">
                        <div class="col-md-6">
                          <input id="check-a" type="checkbox" name="check">
                          <label for="check-a">Elevator in building</label>

                          <input id="check-b" type="checkbox" name="check">
                          <label for="check-b">Friendly workspace</label>

                          <input id="check-c" type="checkbox" name="check">
                          <label for="check-c">Instant Book</label>

                          <input id="check-d" type="checkbox" name="check">
                          <label for="check-d">Wireless Internet</label>
                        </div>

                        <div class="col-md-6">
                          <input id="check-e" type="checkbox" name="check">
                          <label for="check-e">Free parking on premises</label>

                          <input id="check-f" type="checkbox" name="check">
                          <label for="check-f">Free parking on street</label>

                          <input id="check-g" type="checkbox" name="check">
                          <label for="check-g">Smoking allowed</label>

                          <input id="check-h" type="checkbox" name="check">
                          <label for="check-h">Events</label>
                        </div>
                      </div>

                      <!-- Buttons -->
                      <div class="panel-buttons">
                        <button class="panel-cancel">Cancel</button>
                        <button class="panel-apply">Apply</button>
                      </div>

                    </div>
                  </div>
                  <!-- Panel Dropdown / End -->

                  <!-- Panel Dropdown -->
                  <div class="panel-dropdown">
                    <a href="#">Distance Radius</a>
                    <div class="panel-dropdown-content">
                      <input class="distance-radius" type="range" min="1" max="100" step="1" value="50" data-title="Radius around selected destination">
                      <div class="panel-buttons">
                        <button class="panel-cancel">Disable</button>
                        <button class="panel-apply">Apply</button>
                      </div>
                    </div>
                  </div>
                  <!-- Panel Dropdown / End -->

                </div>
                <!-- Filters / End -->

                <%= f.submit '検索', class: "right-side" %>

              <% end %>
            </div>
            <!-- Row With Forms / End -->

          </div>
        </div>

      </section>
      <!-- Search / End -->

      <section class="listings-container margin-top-30">
        <!-- Sorting / Layout Switcher -->
        <div class="row fs-switcher">
          <div class="col-md-6">
            <!-- Showing Results -->
            <p class="showing-results"><%= listing_all.size %>件表示中</p>
          </div>
        </div>

        <!-- Listings -->
        <div class="row fs-listings">
          <!-- Listing Item -->
          <%= render partial: "listings/#{partial}", collection: listings, as: "listing" %>
          <!-- Listing Item / End -->
        </div>
        <!-- Listings Container / End -->

        <!-- Pagination Container -->
        <div class="row fs-listings">
          <div class="col-md-12">

            <!-- Pagination -->
            <div class="clearfix"></div>
            <div class="row">
              <div class="col-md-12">
                <!-- Pagination -->
                <div class="pagination-container margin-top-15 margin-bottom-40">
                  <%= paginate listings %>
                </div>
              </div>
            </div>
            <div class="clearfix"></div>
            <!-- Pagination / End -->

            <!-- Copyrights -->
            <div class="copyrights margin-top-0">© 2021 Listeo. All Rights Reserved.</div>

          </div>
        </div>
        <!-- Pagination Container / End -->
      </section>

    </div>
  </div>
  <div class="fs-inner-container map-fixed">

    <!-- Map -->
    <div id="map-container">
      <div id="map" data-map-zoom="11" data-map-scroll="true">
        <!-- map goes here -->
      </div>
    </div>

  </div>
</div>
