<li>
  <div class="comment-content padding-left-0">
    <div class="arrow-comment"></div>
    <div class="comment-by">
      <%= link_to [post.postable, post] do %>
        <%= post.title %>
      <% end %>
        <span class="date"><%= l post.created_at, format: :short %></span>
    </div>
    <p><%= post.decorate.truncate_body(80) %></p>
    <%= link_to ">>続きを読む ", [post.postable, post], class: "underline" %>

    <% if post.image.attached? %>
    <div class="review-images mfp-gallery-container">
      <%= link_to image_tag(post.image), [post.postable, post] %>
    </div>
    <% end %>
  </div>
</li>
