<li class="<%= "unread" if announcement.draft? %>">
  <%= link_to pvsuwimvsuoitmucvyku_announcement_path(announcement) do %>
    <% if announcement.image.attached? %>
      <div class="message-avatar">
        <%= image_tag announcement.image %>
      </div>
    <% end %>
    <div class="message-by">
      <div class="message-by-headline">
        <h5>
          <%= announcement.title %>
          <% if announcement.draft? %>
            <i>下書き</i>
          <% end %>
        </h5>
        <span><%= l announcement.created_at, format: :long %></span>
      </div>
      <p><%= announcement.decorate.truncate_body(100) %></p>
    </div>
  <% end %>
</li>
