<div id="titlebar">
  <div class="row">
    <div class="col-md-12">
      <h2><i class="sl sl-icon-plus"></i> お知らせ作成</h2>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <%= form_with model: @announcement, url: publish_pvsuwimvsuoitmucvyku_announcements_path do |f| %>
      <div id="add-listing">
        <%= render 'shared/error_messages', model: f.object %>

          <!-- Section -->
          <div class="add-listing-section padding-top-25">

            <!-- Row -->
            <div class="row with-forms">
              <!-- Title -->
              <div class="col-md-12">
                <h5><%= f.label :title %></h5>
                <%= f.text_field :title %>
              </div>
            </div>
            <!-- Row / End -->

            <!-- Row -->
            <div class="row with-forms">
              <!-- Body -->
              <div class="col-md-12">
                <h5><%= f.label :body %></h5>
                <%= f.text_area :body, class: "WYSIWYG", cols: 40, rows: 3 %>
              </div>
            </div>
            <!-- Row / End -->

            <!-- Row -->
            <div class="row with-forms margin-bottom-20">
              <!-- Image -->
              <div class="col-md-12">
                <h5><%= f.label :image %></h5>
                <p>画像を一枚添付することができます。</p>
                <div class="images-preview display-flex-end">
                  <div class="change-photo-btn position-static">
                    <div class="photoUpload">
                        <span><i class="fa fa-upload"></i> アップロードする画像を選択</span>
                        <%= f.file_field :image, class: "upload", onchange: "previewImage(this, 'preview')" %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Row / End -->

            <!-- Row -->
            <div class="row with-forms margin-bottom-20">
              <!-- Images preview -->
              <div class="col-md-12">
                <div id="preview" class="images-preview"></div>
              </div>
            </div>

          </div>
          <!-- Section / End -->

        <div class="margin-top-40 display-flex-space-between">
          <div>
            <%= link_to pvsuwimvsuoitmucvyku_announcements_path, class: "button border overflow-visible" do %>
              <i class="sl sl-icon-arrow-left-circle"></i> 戻る
            <% end %>
          </div>
          <div>
            <%= f.button class: "button" do %>
              <i class="fa fa-send-o"></i> 投稿
            <% end %>
            <%= f.button formaction: unpublish_pvsuwimvsuoitmucvyku_announcements_path, class: "button" do %>
              <i class="fa fa-folder-o"></i> 下書き
            <% end %>
          </div>
        </div>

      </div>
    <% end %>
  </div>
