<p><%=  @user_to.username %>  さん</p>
<p><%= @organization_registration.organization_name %> の登録申請が承認されました。<br>
以下のリンクから本登録を進めてください。</p>
<%= link_to nil, mypage_organization_registration_url(@organization_registration) %>
<br>
<p>※ビジネスユーザーのログインURLは一般ユーザーと異なり、以下になります。</p>
<%= link_to nil, business_login_url %>
<%= render "shared/mailer/html/footer" %>
