  <!-- Slider -->
  <% if @shop.images.attached? %>
    <div class="listing-slider mfp-gallery-container margin-bottom-0">
      <%= render partial: "listings/image", collection: @shop.images %>
    </div>
  <% end %>

  <!-- Content -->
  <div class="container">
    <div class="row sticky-wrapper">
      <div class="col-lg-8 col-md-8 padding-right-30">

        <!-- Titlebar -->
        <div id="titlebar" class="listing-titlebar">
          <div class="listing-titlebar-title">
            <h2>
              <%= @shop.name %> 
              <span class="listing-tag"><%= @shop.decorate.arranged_categories %></span>
            </h2>
            <span>
              <a href="#listing-location" class="listing-address">
                <i class="fa fa-map-marker"></i>
                <%= @shop.address %>
              </a>
            </span>
          </div>
        </div>

         <!-- Listing Nav -->
        <div id="listing-nav" class="listing-nav-container">
          <ul class="listing-nav">
            <li><a href="#listing-overview" class="active">概要</a></li>
            <% if @three_posts.present? %>
              <li><a href="#listing-reviews">NEWS</a></li>
            <% end %>
            <li><a href="#listing-location">地図</a></li>
          </ul>
        </div>

           <!-- Overview -->
          <div id="listing-overview" class="listing-section">
            <!-- Description -->
            <p><%= @shop.decorate.format_description %></p>
          </div>

        <!-- News -->
        <% if @three_posts.present? %>
          <%= render "listings/show_post", { list: @shop, three_posts: @three_posts } %>
        <% end %>

        <!-- Location -->
        <div id="listing-location" class="listing-section">
          <h3 class="listing-desc-headline margin-top-60 margin-bottom-30">地図</h3>
          <div id="map-location-display" class="margin-top-25 margin-bottom-25" data-lat="<%= @shop.lat %>" data-lng="<%= @shop.lng %>"></div>
        </div>

      </div>

      <!-- Sidebar -->
      <div class="col-lg-4 col-md-4 margin-top-75 sticky">

        <!-- Opening Hours -->
        <% if @shop.opening_hours.exists? %>
          <div class="boxed-widget opening-hours margin-top-35">
            <h3><i class="sl sl-icon-clock"></i> 営業時間</h3>
            <ul>
              <%= render partial: "listings/opening_hour", collection: @shop.opening_hours.early %>
            </ul>
          </div>
        <% end %>
        <!-- Opening Hours / End -->

        <!-- Bookmark -->
        <% if current_user %>
          <div class="listing-share margin-top-40 margin-bottom-40 no-border" id="bookmark-area">
            <% if current_user.bookmark?(@shop) %>
              <%= render 'listings/unbookmark', listing: @shop %>
            <% else %>
              <%= render 'listings/bookmark', listing: @shop %>
            <% end %>
          </div>
        <% end %>

      </div>
      <!-- Sidebar / End -->

    </div>
  </div>
