<div id="titlebar" class="<%="margin-bottom-20" if !new_path.nil? %>">
  <div class="row">
    <div class="col-md-12">
      <%= render 'shared/breadcrumbs_mypage', { icon_name: "list", page_name: "投稿一覧" } %>
    </div>
  </div>
</div>

<% if !new_path.nil? %>
  <div class="margin-bottom-20 text-align-right">
    <%= link_to send(new_path), class: "button border" do %>
      <i class="sl sl-icon-plus"></i> 新規作成
    <% end %>
  </div>
<% end %>

<div class="row">
  <!-- Listings -->
  <div class="col-lg-12 col-md-12">

    <div class="messages-container margin-top-0">
      <% if posts.blank? %>
        <div class="messages-headline">
          <h4>投稿はありません</h4>
        </div>
      <% elsif %>
        <div class="messages-inbox">
          <ul>
            <%= render partial: 'shared/organizations/listings/posts/post', collection: posts, locals: { show_path: show_path } %>
          </ul>
        </div>
      <% end %>
    </div>

    <div class="clearfix"></div>
    <div class="pagination-container margin-top-30 margin-bottom-0">
      <%= paginate posts %>
    </div>

  </div>
