<div id="titlebar">
  <div class="row">
    <div class="col-md-12">
      <h2><i class="sl sl-icon-doc"></i> 投稿詳細</h2>
    </div>
  </div>
</div>

<div class="row">

  <!-- Profile -->
  <div class="col-md-12">
    <div class="dashboard-list-box margin-top-0 margin-bottom-20">
      <div class="dashboard-list-box-static">
        <!-- table -->
        <table class="basic-table">
          <tbody>
            <tr>
              <td data-label="項目"><%= Post.human_attribute_name("title") %></td>
              <td data-label="内容"><%= post.title %></td>
            </tr>
            <tr>
              <td data-label="項目"><%= Post.human_attribute_name("body") %></td>
              <td data-label="内容"><%= post.decorate.format_body %></td>
            </tr>
            <tr>
              <td data-label="項目"><%= Post.human_attribute_name("status") %></td>
              <td data-label="内容"><%= post.status_i18n %></td>
            </tr>
            <tr>
              <td data-label="項目"><%= Post.human_attribute_name("created_at") %></td>
              <td data-label="内容"><%= l post.created_at, format: :long %></td>
            </tr>
          </tbody>
        </table>
        <!-- table end -->

        <!-- Row -->
        <% if post.image.attached? %>
          <div class="row with-forms margin-top-30">
            <!-- Images preview -->
            <div class="col-md-12">
              <div id="preview" class="images-preview">
                <%= image_tag post.image.variant(resize: '600x400').processed, class: "image-preview" %>
              </div>
            </div>
          </div>
        <% end %>
        <!-- Row / End -->
      </div>
    </div>

    <div class="margin-top-40">
      <%= link_to send(index_path), class: "button border margin-bottom-20 overflow-visible" do %>
        <i class="sl sl-icon-arrow-left-circle"></i> 戻る
      <% end %>

      <%= link_to send(edit_path), class: "button overflow-visible" do %>
        <i class="sl sl-icon-pencil"></i> 編集
      <% end %>
      <%= link_to send(destroy_path), method: :delete, data: { confirm: "削除すると復旧はできません。よろしいですか？" }, class: "border button right-side width-auto overflow-visible" do %>
        <i class="sl sl-icon-trash"></i> 削除
      <% end %>
    </div>
  </div>
