<div class="container">
  <div class="row">
    <div class="col-md-5 col-sm-6">
      <%= image_tag 'logo.png', class: "footer-logo", alt: "" %>
      <br><br>
      <p>長野県にある白馬村・小谷村の情報を総合的に検索できるサイトです。飲食店・宿泊先・温泉はもちろん、アクティビティやフォトスポット、スーパーやショップの情報も掲載しています。</p>
    </div>

    <div class="col-md-4 col-sm-6 ">
      <h4>Links</h4>
      <ul class="footer-links">
        <li><%= link_to "利用規約", term_path %></li>
      </ul>

      <ul class="footer-links">
        <li><%= link_to "Privacy ポリシー", privacy_path %></li>
        <li><%= link_to "Cookie ポリシー", cookie_path %></li>
      </ul>
      <div class="clearfix"></div>
    </div>

    <div class="col-md-3  col-sm-12">
      <h4>Contact Us</h4>
      <div class="text-widget">
        E-Mail:<span class="font-color-red"> <%= Settings.app.email %> </span><br>
      </div>
    </div>
  </div>

  <!-- Copyright -->
  <div class="row">
    <%= render 'shared/copyright' %>
  </div>

</div>
