  <!-- Mobile Navigation -->
  <div class="mmenu-trigger">
    <button class="hamburger hamburger--collapse" type="button">
      <span class="hamburger-box">
        <span class="hamburger-inner"></span>
      </span>
    </button>
  </div>

  <!-- Main Navigation -->
  <nav id="navigation" class="style-1">
    <ul id="responsive">

      <li><a href="#">食べる・飲む</a>
        <ul>
          <li><%= link_to "飲食店", restaurants_path %></li>
        </ul>
      </li>

      <li><a href="#">体を動かす</a>
        <ul>
          <li><%= link_to "アクティビティ", activities_path %></li>
          <li><%= link_to "スキー場", ski_areas_path %></li>
        </ul>
      </li>

      <li><a href="#">リラックスする</a>
        <ul>
          <li><%= link_to "宿泊", hotels_path %></li>
          <li><%= link_to "温泉", hot_springs_path %></li>
        </ul>
      </li>

      <li><a href="#">写真を撮る</a>
        <ul>
          <li><%= link_to "フォトスポット", photo_spots_path %></li>
        </ul>
      </li>

      <li><a href="#">買い物をする</a>
        <ul>
          <li><%= link_to "ショップ・お土産", shops_path %></li>
        </ul>
      </li>

    </ul>
  </nav>
  <div class="clearfix"></div>
  <!-- Main Navigation / End -->

</div>
<!-- Left Side Content / End -->

<!-- Right Side Content / End -->
<div class="right-side">
  <div class="header-widget">
    <% if logged_in? %>
    <!-- User Menu -->
    <div class="user-menu">
      <div class="user-name <%= "notice" if current_user.notices.unread.exists? %>">
        <span>
          <% if current_user.avatar.attached? %>
            <%= image_tag current_user.avatar %>
          <% else %>
            <%= image_tag 'blank-profile-picture.png' %>
          <% end %>
        </span>
        ログイン中
      </div>
      <ul>
        <li>
          <%= link_to mypage_profile_path do %>
            <i class="sl sl-icon-user"></i> プロフィール</a>
          <% end %>
        </li>
        <li>
          <%= link_to mypage_notices_path do %>
            <i class="sl sl-icon-envelope-open"></i> 通知一覧 
            <% if current_user.notices.unread.exists? %>
            <span class="unread-number"><%= current_user.notices.unread.size %></span>
            <% end %>
          <% end %>
        </li>
        <li>
          <%= link_to mypage_bookmarks_path do %>
            <i class="sl sl-icon-heart"></i> お気に入り
          <% end %>
        </li>
        <li>
          <%= link_to logout_path, method: :delete do %>
            <i class="sl sl-icon-logout"></i> ログアウト</a>
          <% end %>
        </li>
      </ul>
    </div>
    <% else %>
      <%= link_to login_path, class: "sign-in" do %>
        <i class="sl sl-icon-login"></i> ログイン</a>
      <% end %>
      <%= link_to signup_path, class: "sign-in" do %>
        <i class="sl sl-icon-plus"></i> ユーザー登録</a>
      <% end %>
    <% end %>
  </div>
</div>
<!-- Right Side Content / End -->