<!-- Wrapper -->
<div id="wrapper">
  <%= render 'shared/flash_messages_top' %>

  <!-- Header Container
================================================== -->
  <header id="header-container" class="fullwidth">
    <div id="header">
      <div class="container">
        <%= render 'shared/header' %>
      <div>
    <div>
  </header>
  <div class="clearfix"></div>
  <!-- Header Container / End -->


  <!-- Banner
================================================== -->
  <div class="home-search-carousel carousel-not-ready">

    <!-- Item -->
    <div class="home-search-slide" style="background-image: url(<%= image_path("home-carousel-01.jpg") %>)">
      <div class="home-search-slider-headlines">
        <div class="container">
          <div class="col-md-12">
            <h3>白馬・小谷村にある <a href="#">美味しい・楽しい</a></h3>
            <h3>を探そう</h3>
          </div>
        </div>
      </div>
    </div>

    <!-- Item -->
    <div class="home-search-slide" style="background-image: url(<%= image_path("home-carousel-02.jpg") %>)">
      <div class="home-search-slider-headlines">
        <div class="container">
          <div class="col-md-12">
            <h3>ここでしかみられない <a href="#">美しく・壮大な</a> 景色</h3>
          </div>
        </div>
      </div>
    </div>

    <!-- Item -->
    <div class="home-search-slide" style="background-image: url(<%= image_path("home-carousel-03.jpg") %>)">
      <div class="home-search-slider-headlines">
        <div class="container">
          <div class="col-md-12">
            <h3>まだ知らない白馬・小谷村の </h3>
            <h3><a href="#">次の行き先</a> が見つかるかも</h3>
          </div>
        </div>
      </div>
    </div>

    <!-- Search -->
    <div class="container search-cont">
      <div class="col-md-12">
        <%= form_with url: search_path, scope: :q, method: :get, local: true do |f| %>
          <div class="main-search-input">
            <div class="main-search-input-item">
              <%= f.search_field :keyword, placeholder: "検索ワードを入力" %>
            </div>

            <div class="main-search-input-item">
              <%= select(:q, :area, Constants::AREA_GROUPS.collect { |area_group| [ area_group[:display], area_group[:area] ] }, { include_blank: "エリアを選択" }, { class: "chosen-select" }) %>
            </div>

            <div class="main-search-input-item">
              <%= select(:q, :category, Constants::LISTINGS.collect { |listing| [ listing[:display], listing[:category] ] }, { include_blank: "カテゴリーを選択（必須）" }, { class: "chosen-select" }) %>
            </div>

            <%= f.button '検索', class: "button", id: "home-search-button", type: "button", onclick: "homeSearch()" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <!-- Content
================================================== -->
    <div class="container">
      <div class="row">

        <div class="col-md-12">
          <h3 class="headline centered margin-top-75">
            Popular Categories
            <span>興味のある <i>カテゴリー</i> を閲覧する</span>
          </h3>
        </div>

      </div>
    </div>


    <!-- Categories Carousel -->
    <div class="fullwidth-carousel-container margin-top-25 margin-bottom-65">
      <div class="fullwidth-slick-carousel category-carousel">

        <!-- Item -->
        <div class="fw-carousel-item">
          <div class="category-box-container">
            <%= link_to restaurants_path, class: "category-box", data: { background_image: image_url('restaurant-image.jpg') } do %>
              <div class="category-box-content">
                <h3>飲食店</h3>
              </div>
              <span class="category-box-btn">閲覧する</span>
            <% end %>
          </div>
        </div>

        <!-- Item -->
        <div class="fw-carousel-item">
          <div class="category-box-container">
            <%= link_to hotels_path, class: "category-box", data: { background_image: image_url('hotel-image.jpg') } do %>
              <div class="category-box-content">
                <h3>宿泊</h3>
              </div>
              <span class="category-box-btn">閲覧する</span>
            <% end %>
          </div>
        </div>

        <!-- Item -->
        <div class="fw-carousel-item">
          <div class="category-box-container">
            <%= link_to activities_path, class: "category-box", data: { background_image: image_url('activity-image.jpg') } do %>
              <div class="category-box-content">
                <h3>アクティビティ</h3>
              </div>
              <span class="category-box-btn">閲覧する</span>
            <% end %>
          </div>
        </div>

        <!-- Item -->
        <div class="fw-carousel-item">
          <div class="category-box-container">
            <%= link_to hot_springs_path, class: "category-box", data: { background_image: image_url('hot-spring-image.jpg') } do %>
              <div class="category-box-content">
                <h3>温泉</h3>
              </div>
              <span class="category-box-btn">閲覧する</span>
            <% end %>
          </div>
        </div>

        <!-- Item -->
        <div class="fw-carousel-item">
          <div class="category-box-container">
            <%= link_to ski_areas_path, class: "category-box", data: { background_image: image_url('ski-area-image.jpg') } do %>
              <div class="category-box-content">
                <h3>スキー場</h3>
              </div>
              <span class="category-box-btn">閲覧する</span>
            <% end %>
          </div>
        </div>

        <!-- Item -->
        <div class="fw-carousel-item">
          <div class="category-box-container">
            <%= link_to photo_spots_path, class: "category-box", data: { background_image: image_url('photo-spot-image.jpg') } do %>
              <div class="category-box-content">
                <h3>フォトスポット</h3>
              </div>
              <span class="category-box-btn">閲覧する</span>
            <% end %>
          </div>
        </div>

        <!-- Item -->
        <div class="fw-carousel-item">
          <div class="category-box-container">
            <%= link_to shops_path, class: "category-box", data: { background_image: image_url('shop-image.jpg') } do %>
              <div class="category-box-content">
                <h3>ショップ</h3>
              </div>
              <span class="category-box-btn">閲覧する</span>
            <% end %>
          </div>
        </div>

      </div>
    </div>
    <!-- Categories Carousel / End -->

    <div class="container margin-top-80 margin-bottom-80">
      <div class="row">
        <div class="col-md-12">
          <h3 class="headline margin-top-0 margin-bottom-40">
            <strong class="headline-with-separator">何ができるサイト？</strong>
          </h3>
        </div>
        <div class="col-md-5">
          <a href="#" class="icon-box-v3 disabled-link">
            <div class="ibv3-icon">
              <i class="im im-icon-Map2"></i>
            </div>
            <div class="ibv3-content">
              <h4>白馬や小谷のお店や施設の検索に</h4>
              <p>白馬村・小谷村のお店や施設情報などをユーザー登録なしで検索することができます。</p>
            </div>
          </a>
          <a href="#" class="icon-box-v3 disabled-link">
            <div class="ibv3-icon">
              <i class="im im-icon-Add-User"></i>
            </div>
            <div class="ibv3-content">
              <h4>ユーザー登録でさらに便利に</h4>
              <p>ユーザー登録することでお店をお気に入り登録したり、お知らせを受け取ったりすることができます。</p>
            </div>
          </a>
          <a href="#" class="icon-box-v3 disabled-link">
            <div class="ibv3-icon">
              <i class="im im-icon-Add-File"></i>
            </div>
            <div class="ibv3-content">
              <h4>お店や事業の宣伝に</h4>
              <p>ビジネスユーザー登録することで白馬村・小谷村のお店や事業の情報を無料掲載することができます。</p>
            </div>
          </a>
        </div>
        <div class="col-md-7">
          <div class="svg-alignment">
            <%= image_tag "undraw_web_devices_re_m8sc.svg", style: "width: 60%;" %>
          </div>
        </div>
      </div>
    </div>


<!-- Footer
================================================== -->
<div id="footer" class="sticky-footer">
  <%= render 'shared/footer' %>
</div>
<!-- Footer / End -->


<!-- Back To Top Button -->
<div id="backtotop"><a href="#"></a></div>


</div>
<!-- Wrapper / End -->
