<p><%= @user_to.username %> さん</p>

<p><%= @organization_invitation.organization.name %> への参加招待が届いています。以下のリンクから「承諾」または「拒否」を選択してください。<br>
有効期限：<%= l @organization_invitation.expires_at, format: :long %></p>
<%= link_to nil, organization_invitation_url(@organization_invitation) %>
<%= render "shared/mailer/html/footer" %>
