<div id="titlebar">
  <div class="row">
    <div class="col-md-12">
      <%= render 'shared/breadcrumbs_mypage', { icon_name: "doc", page_name: "申請内容" } %>
    </div>
  </div>
</div>

<div class="row">

  <!-- Profile -->
  <div class="col-md-12">
    <div class="dashboard-list-box margin-top-0">
      <div class="dashboard-list-box-static">
        <!-- table -->
        <table class="basic-table">
          <tbody>

            <tr>
              <td data-label="項目"><%= OrganizationRegistration.human_attribute_name("organization_name") %></td>
              <td data-label="内容"><%= @organization_registration.organization_name %></td>
            </tr>
            <tr>
              <td data-label="項目"><%= OrganizationRegistration.human_attribute_name("organization_address") %></td>
              <td data-label="内容"><%= @organization_registration.organization_address %></td>
            </tr>
            <tr>
              <td data-label="項目"><%= OrganizationRegistration.human_attribute_name("organization_phone") %></td>
              <td data-label="内容"><%= @organization_registration.organization_phone %></td>
            </tr>
            <tr>
              <td data-label="項目"><%= OrganizationRegistration.human_attribute_name("business_detail") %></td>
              <td data-label="内容"><%= @organization_registration.business_detail %></td>
            </tr>
            <tr>
              <td data-label="項目">申請者 <%= User.human_attribute_name("username") %></td>
              <td data-label="内容"><%= @organization_registration.user.username %></td>
            </tr>
            <tr>
              <td data-label="項目">申請者 <%= User.human_attribute_name("full_name") %></td>
              <td data-label="内容"><%= @organization_registration.user.decorate.full_name %></td>
            </tr>
            <tr>
              <td data-label="項目">申請者 <%= User.human_attribute_name("email") %></td>
              <td data-label="内容"><%= @organization_registration.user.email %></td>
            </tr>
            <tr>
              <td data-label="項目">申請状況</td>
              <td data-label="内容">
                <% if @organization_registration.organization_registration_status.nil? %>
                  承認待ち
                <% else %>
                  <%= @organization_registration.organization_registration_status.status_i18n %>
                <% end %>
              </td>
            </tr>
          </tbody>
        </table>

      </div>
    </div>
    <% if @organization_registration.organization_registration_status.nil? %>
      <div class="margin-top-30 child-display-inline">
        <%= button_to admin_organization_registration_organization_registration_statuses_path(@organization_registration, status: :accepted), class: "button button-accepted", data: { confirm: "一度承認すると元には戻せません。よろしいですか？" } do %>
          <i class="sl sl-icon-check"></i> 承認
        <% end %>
        <%= button_to admin_organization_registration_organization_registration_statuses_path(@organization_registration, status: :rejected), class: "button button-rejected", data: { confirm: "一度否認すると元には戻せません。よろしいですか？" } do %>
          <i class="sl sl-icon-check"></i> 否認
        <% end %>
      </div>
    <% end %>
  </div>
