<div id="titlebar">
  <div class="row">
    <div class="col-md-12">
      <h2><i class="sl sl-icon-plus"></i> 組織登録申請</h2>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-12">

    <div id="add-listing">
      <%= form_with model: @organization_registration, url: mypage_organization_registrations_path do |f| %>
        <%= render 'shared/error_messages', model: f.object %>

        <!-- Section -->
        <div class="add-listing-section">

          <!-- Headline -->
          <div class="add-listing-headline">
          </div>

          <!-- Row -->
          <div class="row with-forms margin-bottom-20">
            <!-- Organization Name -->
            <div class="col-md-12">
              <h5><%= f.label :organization_name %></h5>
              <%= f.text_field :organization_name %>
            </div>
          </div>
          <!-- Row / End -->

          <!-- Row -->
          <div class="row with-forms margin-bottom-20">
            <!-- Organization Address -->
            <div class="col-md-12">
              <h5><%= f.label :organization_address %></h5>
              <%= f.text_field :organization_address %>
            </div>
          </div>
          <!-- Row / End -->

          <!-- Row -->
          <div class="row with-forms margin-bottom-20">
            <!-- Organization Phone -->
            <div class="col-md-12">
              <h5><%= f.label :organization_phone %></h5>
              <p>半角数字で入力してください。<br>
              ハイフン（-）も必要ありません。</p>
              <%= f.text_field :organization_phone %>
            </div>
          </div>
          <!-- Row / End -->
          
          <!-- Row -->
          <div class="row with-forms margin-bottom-20">
            <!-- Business Detail -->
            <div class="col-md-12">
              <h5><%= f.label :business_detail %></h5>
              <p>簡単に事業内をご入力ください。<br>
              経営している店舗名などがあれば合わせてご入力ください。</p>
              <%= f.text_area :business_detail, class: "WYSIWYG", cols: 40, rows: 3 %>
            </div>
          </div>
          <!-- Row / End -->

        </div>
        <!-- Section / End -->

        <%= f.submit "申請する", class: "button margin-top-40", data: { confirm: "入力した内容で申請します。よろしいですか？" } %>
      <% end %>

    </div>
  </div>
