<div id="titlebar">
  <div class="row">
    <div class="col-md-12">
      <%= render 'shared/breadcrumbs_mypage', { icon_name: "doc", page_name: "飲食店詳細" } %>
    </div>
  </div>
</div>

<div class="row">

  <!-- Profile -->
  <div class="col-md-12">
    <div class="dashboard-list-box margin-top-0">
      <div class="dashboard-list-box-static">
        <!-- table -->
        <table class="basic-table">
          <tbody>
            <tr>
              <td data-label="項目"><%= Restaurant.human_attribute_name("name") %></td>
              <td data-label="内容"><%= restaurant.name %></td>
            </tr>
            <tr>
              <td data-label="項目"><%= RestaurantCategory.model_name.human %></td>
              <td data-label="内容">
                <%= restaurant.decorate.arranged_categories %>
              </td>
            </tr>
            <tr>
              <td data-label="項目"><%= Restaurant.human_attribute_name("address") %></td>
              <td data-label="内容"><%= restaurant.address %></td>
            </tr>
            <tr>
              <td data-label="項目"><%= District.model_name.human %></td>
              <td data-label="内容"><%= restaurant.districts.first.name %></td>
            </tr>
            <tr>
              <td data-label="項目"><%= Restaurant.human_attribute_name("description") %></td>
              <td data-label="内容"><%= restaurant.decorate.format_description %></td>
            </tr>
            <% if restaurant.reservation_link.present? %>
              <tr>
                <td data-label="項目"><%= ReservationLink.human_attribute_name("link") %></td>
                <td data-label="内容"><%= link_to nil, restaurant.reservation_link.link %></td>
              </tr>
            <% end %>
            <% if restaurant.opening_hours.exists? %>
              <tr>
                <td data-label="項目"><%= OpeningHour.model_name.human %></td>
                <td data-label="内容">
                  <ul class="bg-transparent">
                    <%= render partial: "shared/organizations/listings/opening_hour", collection: restaurant.opening_hours.early %>
                  </ul>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <!-- table end -->

        <!-- Row -->
        <div class="row with-forms margin-bottom-20">
          <!-- Map -->
          <div class="col-md-12">
            <div id="map-location-display" class="margin-top-25 margin-bottom-25" data-lat="<%= restaurant.lat %>" data-lng="<%= restaurant.lng %>"></div>
          </div>
        </div>
        <!-- Row / End -->

        <!-- Row -->
        <% if restaurant.images.attached? %>
          <div class="row with-forms margin-bottom-20">
            <!-- Images preview -->
            <div class="col-md-12">
              <div id="preview">
                <% restaurant.images.each do |image| %>
                  <%= image_tag image.variant(resize: '300x200').processed %>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
        <!-- Row / End -->
      </div>
    </div>
    <%= link_to send(edit_path, restaurant.organization, restaurant), class: "button margin-top-15" do %>
      <i class="sl sl-icon-pencil"></i> 編集
    <% end %>
    <%= link_to send(destroy_path, restaurant.organization, restaurant), method: :delete, data: { confirm: "削除すると復旧はできません。よろしいですか？" }, class: "border button" do %>
      <i class="sl sl-icon-trash"></i> 削除
    <% end %>
  </div>
