<div class="blog-post">

  <!-- Img -->
  <% if post.image.attached? %>
    <%= link_to image_tag(post.image), [post.postable, post], class: "post-img" %>
  <% end %>

  <!-- Content -->
  <div class="post-content">
    <h3>
      <%= link_to [post.postable, post] do %>
        <%= post.title %>
      <% end %>
    </h3>

    <ul class="post-meta">
      <li><%= l post.created_at, format: :short %></li>
    </ul>

    <p><%= post.decorate.truncate_body(100) %></p>

    <%= link_to [post.postable, post], class: "read-more" do %>
      続きを読む <i class="fa fa-angle-right"></i>
    <% end %>
  </div>

</div>
