<div id="titlebar">
  <div class="row">
    <div class="col-md-12">
      <h2><i class="sl sl-icon-plus"></i> 新規飲食店作成</h2>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <%= form_with model: @restaurant_create_form, url: organization_restaurants_path do |f| %>
      <div id="add-listing">
        <%= render 'shared/error_messages_multiple', models: [f.object, f.object.restaurant, f.object.reservation_link] %>

        <!-- Section -->
        <%= f.fields_for :restaurant do |ff| %>
          <div class="add-listing-section">

            <!-- Headline -->
            <div class="add-listing-headline">
              <h3><i class="sl sl-icon-doc"></i> 基本情報</h3>
            </div>

            <!-- Row -->
            <div class="row with-forms margin-bottom-20">
              <!-- Name -->
              <div class="col-md-12">
                <h5><%= ff.label :name %></h5>
                <%= ff.text_field :name %>
              </div>
            </div>
            <!-- Row / End -->

            <!-- Row -->
            <div class="row with-forms margin-bottom-20">
              <!-- District -->
              <div class="col-md-12">
              <h5><%= f.label :district_id %></h5>
              <%= f.collection_select :district_id, @districts, :id, :name, {prompt: ""}, {class: "chosen-select", data: {placeholder: "ここをクリックして地区を選択"}} %>
              </div>
            </div>
            <!-- Row / End -->

            <!-- Row -->
            <div class="row with-forms margin-bottom-20">
              <!-- Address -->
              <div class="col-md-12">
                <h5><%= ff.label :address %></h5>
                <%= ff.text_field :address %>
              </div>
            </div>
            <!-- Row / End -->

            <!-- Row -->
            <div class="row with-forms margin-bottom-20">
              <!-- Slug -->
              <div class="col-md-12">
                <h5><%= ff.label :slug %></h5>
                <p>詳細ページのURL末尾を決めていただきます。<br>
                他のユーザーの目に触れる箇所になります。<br>
                <strong>後から変更ができません。 </strong><br>
                アルファベット小文字、数字、ハイフン（-）が利用できます。</p>
                <%= ff.text_field :slug, inputmode: "numeric" %>
              </div>
            </div>
            <!-- Row / End -->

            <!-- Row -->
            <div class="row with-forms margin-bottom-20">
              <!-- Description -->
              <div class="col-md-12">
                <h5><%= ff.label :description %></h5>
                <%= ff.text_area :description, class: "WYSIWYG", cols: 40, rows: 3 %>
              </div>
            </div>
            <!-- Row / End -->

            <!-- Row -->
            <div class="row with-forms margin-bottom-20" id="map-section" data-action="create" data-model="restaurant">
              <div class="col-md-12">
                <h5>位置情報</h5>
                <p>正確な地図を作成するために、以下のマップをクリックしてお店の正確な位置にピンを置いてください。<br>
                マップを移動させたり拡大していただくことが可能です。</p>
                <!-- Map -->
                <div id="map-location-registration" class="margin-bottom-25"></div>
                <%= ff.hidden_field :lat %>
                <%= ff.hidden_field :lng %>
              </div>
            </div>
            <!-- Row / End -->

            <!-- Row -->
            <div class="row with-forms margin-bottom-20">
              <!-- Images -->
              <div class="col-md-12">
                <h5><%= ff.label :images %></h5>
                <div class="images-preview display-flex-end">
                  <div class="change-photo-btn position-static">
                    <div class="photoUpload">
                        <span><i class="fa fa-upload"></i> アップロードする画像を選択</span>
                        <%= ff.file_field :images, multiple: true, class: "upload", onchange: "previewImage(this)" %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Row / End -->

            <!-- Row -->
            <div class="row margin-bottom-40">
              <!-- Images preview -->
              <div class="col-md-12">
                <div id="preview" class="images-preview"></div>
              </div>
            </div>
            <!-- Row / End -->

            <!-- Row -->
            <div class="row with-forms margin-bottom-20">
              <!-- Restaurant category -->
              <div class="col-md-12">
              <h5><%= f.label :restaurant_category_ids %></h5>
              <p>お店のカテゴリーを選択してください。<br>
              複数選択できます。</p>

              <%= f.collection_select :restaurant_category_ids, @restaurant_categories, :id, :name, {prompt: ""}, {class: "chosen-select", multiple: true, data: {placeholder: "ここをクリックしてカテゴリーを選択"}} %>

              </div>
            </div>
            <!-- Row / End -->

          </div>
        <% end %>
        <!-- Section / End -->


        <!-- Section -->
        <%= f.fields_for :reservation_link do |ff| %>
          <div class="add-listing-section margin-top-45">

            <!-- Headline -->
            <div class="add-listing-headline">
              <h3><i class="sl sl-icon-link"></i> 予約ページのURL</h3>
            </div>

            <!-- Row -->
            <div class="row with-forms margin-bottom-20">
              <!-- Name -->
              <div class="col-md-12">
                <p>別サイトなどに予約ページがあればURLを入力してください。<br>
                入力があれば個別ページにリンクを作成します。<br>
                必ず<strong>http</strong>または<strong>https</strong>からご入力ください。</p>
                <%= ff.text_field :link %>
              </div>
            </div>
            <!-- Row / End -->

          </div>
        <% end %>
        <!-- Section / End -->


        <!-- Section -->
        <div class="add-listing-section margin-top-45 switcher-on">

          <!-- Headline -->
          <div class="add-listing-headline">
            <h3><i class="sl sl-icon-clock"></i> 営業時間</h3>
          </div>

          <!-- Switcher ON-OFF Content -->
          <div class="switcher-content">
            <%= f.fields_for :opening_hours, {}, [days_ja = OpeningHour.days_i18n.values, days_en = OpeningHour.days.keys] do |ff| %>
              <!-- Day -->
              <div class="row opening-day">
                <div class="col-md-12">
                  <h5><%= days_ja[ff.index] %></h5>
                </div>

                <div class="checkboxes in-row padding-left-15 margin-bottom-20">
                  <%= ff.check_box :closed %>
                  <%= ff.label :closed, "定休日" %>
                </div>

                <div class="col-md-2">
                  <p class="margin-top-10">開始時間</p>
                </div>
                <div class="col-md-2">
                  <%= ff.select :start_time_hour, [*0..23], {}, {class: "chosen-select"} %>
                </div>
                <div class="col-md-2">
                  <%= ff.select :start_time_minute, ["00", "05", "10", "15", "20", "25", "30", "35", "40", "45", "50", "55"], {}, {class: "chosen-select"} %>
                </div>

                <div class="col-md-2">
                  <p class="margin-top-10">終了時間</p>
                </div>
                <div class="col-md-2">
                  <%= ff.select :end_time_hour, [*0..23], {}, {class: "chosen-select"} %>
                </div>
                <div class="col-md-2">
                  <%= ff.select :end_time_minute, ["00", "05", "10", "15", "20", "25", "30", "35", "40", "45", "50", "55"], {}, {class: "chosen-select"} %>
                </div>
              </div>

              <%= ff.hidden_field :day, value: days_en[ff.index] %>
              <!-- Day / End -->
            <% end %>
          </div>
          <!-- Switcher ON-OFF Content / End -->

        </div>
        <!-- Sect ion / End -->

        <div class="margin-top-40">
          <%= link_to organization_restaurants_path, class: "button border overflow-visible" do %>
            <i class="sl sl-icon-arrow-left-circle"></i> 戻る
          <% end %>

          <%= f.submit nil, class: "button right-side" %>
        </div>
      </div>
    <% end %>
  </div>
