  <!-- Slider -->
  <% if @restaurant.images.attached? %>
    <div class="listing-slider mfp-gallery-container margin-bottom-0">
      <%= render partial: "listings/image", collection: @restaurant.images %>
    </div>
  <% end %>

  <!-- Content -->
  <div class="container">
    <div class="row sticky-wrapper">
      <div class="col-lg-8 col-md-8 padding-right-30">

        <!-- Titlebar -->
        <div id="titlebar" class="listing-titlebar">
          <div class="listing-titlebar-title">
            <h2>
              <%= @restaurant.name %> 
              <span class="listing-tag"><%= @restaurant.decorate.arranged_categories %></span>
            </h2>
            <span>
              <a href="#listing-location" class="listing-address">
                <i class="fa fa-map-marker"></i>
                <%= @restaurant.address %>
              </a>
            </span>
          </div>
        </div>

         <!-- Listing Nav -->
        <div id="listing-nav" class="listing-nav-container">
          <ul class="listing-nav">
            <li><a href="#listing-overview" class="active">概要</a></li>
            <% if @three_posts.present? %>
              <li><a href="#listing-reviews">NEWS</a></li>
            <% end %>
            <li><a href="#listing-location">地図</a></li>
          </ul>
        </div>

        <!-- Description -->
        <%= render "listings/show_description", { listing: @restaurant } %>

        <!-- News -->
        <% if @three_posts.present? %>
          <%= render "listings/show_post", { listing: @restaurant, three_posts: @three_posts } %>
        <% end %>

        <!-- Location -->
        <%= render "listings/show_location", { listing: @restaurant } %>

      </div>

      <!-- Sidebar -->
      <div class="col-lg-4 col-md-4 margin-top-75 sticky">

        <!-- Opening Hours -->
        <% if @restaurant.opening_hours.exists? %>
          <%= render "listings/show_opening_hour", { listing: @restaurant } %>
        <% end %>

        <!-- Reservation Link -->
        <% if @restaurant.reservation_link.present? %>
          <%= render "listings/show_reservation_link", { listing: @restaurant } %>
        <% end %>

        <!-- Bookmark -->
        <% if current_user %>
          <%= render "listings/show_bookmark", { listing: @restaurant } %>
        <% end %>

      </div>
      <!-- Sidebar / End -->

    </div>
  </div>
