<div id="titlebar">
  <div class="row">
    <div class="col-md-12">
      <h2><i class="sl sl-icon-user"></i> <%= page_name %></h2>
    </div>
  </div>
</div>

<div class="row">

  <!-- Profile -->
  <div class="col-md-12">
    <div class="dashboard-list-box margin-top-0">
      <div class="dashboard-list-box-static">
        <!-- table -->
        <table class="basic-table">
          <tbody>
            <tr>
              <td data-label="項目"><%= User.human_attribute_name("last_name") %></td>
              <td data-label="内容"><%= user.last_name %></td>
            </tr>
            <tr>
              <td data-label="項目"><%= User.human_attribute_name("first_name") %></td>
              <td data-label="内容"><%= user.first_name %></td>
            </tr>
            <tr>
              <td data-label="項目"><%= User.human_attribute_name("username") %></td>
              <td data-label="内容"><%= user.username %></td>
            </tr>
            <tr>
              <td data-label="項目"><%= User.human_attribute_name("email") %></td>
              <td data-label="内容"><%= user.email %></td>
            </tr>
            <tr>
              <td data-label="項目"><%= User.human_attribute_name("role") %></td>
              <td data-label="内容"><%= user.role_i18n %></td>
            </tr>
            <% if current_page?(pvsuwimvsuoitmucvyku_user_path(user)) %>
              <tr>
                <td data-label="項目"><%= User.human_attribute_name("public_uid") %></td>
                <td data-label="内容"><%= user.public_uid %></td>
              </tr>
            <% end %>
            <tr>
              <td data-label="項目"><%= User.human_attribute_name("created_at") %></td>
              <td data-label="内容"><%= l user.created_at, format: :long %></td>
            </tr>
          </tbody>
        </table>
        <!-- table -->
      </div>
    </div>

    <div class="margin-top-40">
      <% if current_page?(pvsuwimvsuoitmucvyku_user_path(user)) %>
        <%= link_to pvsuwimvsuoitmucvyku_users_path, class: "button border margin-bottom-20 overflow-visible" do %>
          <i class="sl sl-icon-arrow-left-circle"></i> 戻る
        <% end %>
      <% end %>

      <%= link_to send(edit_path), class: "button overflow-visible" do %>
        <i class="sl sl-icon-pencil"></i> 編集
      <% end %>
      <%= link_to send(destroy_path), method: :delete, data: { confirm: "アカウントを削除すると復旧はできません。よろしいですか？" }, class: "border button right-side width-auto overflow-visible" do %>
        <i class="sl sl-icon-trash"></i> アカウント削除
      <% end %>
    </div>
    
  </div>
